Repository Templarian/MaterialDesign-Site, pull requests merged in 2020-01, with the labels that each got.

#126 Fix typo Modfiication -> Modification
  src/app/admin/indexPage/indexPage.component.html
  src/app/app.module.ts
  src/app/historyPage/historyPage.component.ts
  src/app/shared/modificationTable/modificationTable.component.ts
Labels: Bug, Low Priority

#124 Release page: FAQ tweaks
  src/app/admin/iconsPage/iconsPage.component.html
  src/app/admin/releasePage/releasePage.component.html
Labels: Admin

#125 Add link to base icon list to admin index page
  src/app/admin/basePage/basePage.component.html
  src/app/admin/indexPage/indexPage.component.html
Labels: Admin, Feature

#129 Add details to table of deprecated icons
  src/content/brand-icons.md
Labels: Docs / Examples
